.banner {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-title {
  font-family: var(--myFont);
  color: var(--primaryColor);
  font-size: 2.2rem;
  display: inline-block;
  font-weight: 700;
}

.banner-title::after {
  content: "";
  background-color: var(--primaryColor);
  display: block;
  width: 50%;
  height: 3px;
  margin: auto;
}